@using System.Web.Mvc.Html
@model VTP2015.Modules.Student.ViewModels.IndexViewModel

@*@using (Ajax.BeginForm("AddFileStudentName", "Student", new AjaxOptions{HttpMethod = "Post", OnSuccess = "BewijsSuccess"} ,new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{*@
<br/>
<form id="addBewijs-form" class="form-horizontal" data-url="@Url.Action("AddFile","Student")">
    <div class="input-group">
        @Html.LabelFor(m => m.File, new { @class = "form-label" })
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse&hellip; <input id="File" type="file" name="FileStudentName">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
    </div>
    <br />
    <div class="input-group">
        @Html.LabelFor(m => m.Description, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="input-group">
        <button type="button" class="btn btn-primary">Voeg toe</button>
    </div>
</form>
