@model IEnumerable<VTP2015.Modules.Lecturer.ViewModels.RequestListViewModel>
<div class="panel panel-default clearfix inheritWidth approvedaanvraagcontainer">
    <div class="panel-heading ">
        <h3 class="panel-title">Aanvaardde aanvragen</h3>
    </div>
    <div class="panel-body">
        @{ var getoondeAanvraagId = 1; }

        @foreach (var aanvraag in Model.OrderBy(o => o.SuperCode).OrderBy(o => o.Student.Name).OrderBy(o => o.Student.FirstName))
        {
            <div class="panel clearfix inheritWidth ">
                <div id="approvedaanvraag-@getoondeAanvraagId" class="aanvraag modulecontainer" data-studentid="@aanvraag.Student.Email" data-aanvraagid="@aanvraag.Id" data-module="@aanvraag.ModuleName" data-super="@aanvraag.SuperCode">
                    <h4>@aanvraag.Student.FirstName @aanvraag.Student.Name</h4>
                    <p><a href="mailto:@aanvraag.Student.Email" target="_top">@aanvraag.Student.Email</a></p>
                    <p>@aanvraag.ModuleName - @aanvraag.PartimName</p>
                    <p>
                        <label for="motivatie" class="control-label">Motivatie:</label>
                        <label class="control-label">@aanvraag.Motivation.Text</label>
                    </p>
                    @if (aanvraag.Argumentation != null)
                    {
                        <p>
                            <label for="argumentatie" class="control-label">Extra argumentatie:</label>
                            <label class="control-label">@aanvraag.Argumentation</label>
                        </p>
                    }

                    @foreach (var bewijs in aanvraag.Evidence)
                    {
                        <div data-evidenceid="@bewijs.Id" class="inheritWidth bewijs">
                            <input class="btn argumentatie" value="@bewijs.Description.First().ToString().ToUpper()@bewijs.Description.Substring(1)" type="button" data-bewijsid="@bewijs.Id">
                            <br/>
                            <div class="inheritWidth bewijspointer hide" data-RequestPartimInformationid="RequestPartimInformation_@aanvraag.Id">
                                <a href="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" download>
                                    Als onderstaande voorstelling niet werkt kunt u op deze link klikken om het evidence te downloaden
                                </a>
                                <div class="bewijsdiv">
                                    @if (@bewijs.Path.Split(new Char[] { '.' }).Last().Equals("pdf"))
                                    {
                                        <embed src="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" class="inheritWidth" />
                                    }
                                    else
                                    {
                                        <img src="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" class="inheritWidth" />
                                    }
                                </div>
                            </div>
                            <input class="btn argumentatie hide" value="@bewijs.Description.First().ToString().ToUpper()@bewijs.Description.Substring(1)" type="button" data-bewijsid="@bewijs.Id">
                        </div>
                        { getoondeAanvraagId++; }
                    }
                </div>
                </div>
                }
            </div>
</div>