@model IEnumerable<VTP2015.Modules.Lecturer.ViewModels.RequestListViewModel>

<div class="panel panel-default clearfix inheritWidth aanvraagcontainer">
    <div class="panel-heading ">
        <h3 class="panel-title">Aanvragen</h3>
</div>
    <div class="panel-body">
        @{ var getoondeAanvraagId = 1; }
        
        @foreach (var partim in Model.GroupBy(g => g.SuperCode).Select(grp => grp.First()).OrderBy(o=> o.SuperCode))
        {
            <div id="@partim.SuperCode" class="clearfix inheritWidth modulecontainer">
                <h3 class="panel-title partim">@partim.PartimName - @partim.ModuleName</h3>
                <hr />
                <div class="panel-body">
                    @foreach (var aanvraag in Model.Where(m => m.PartimName.Equals(partim.PartimName) && m.ModuleName.Equals(partim.ModuleName)))
                    {
                        <script>
                            $("#Aantal_@partim.SuperCode").html(parseInt($("#Aantal_@partim.SuperCode").html()) + 1);
                        </script>

                        <div id="aanvraag-@getoondeAanvraagId" class="aanvraag " data-studentid="@aanvraag.Student.Email" data-aanvraagid="@aanvraag.Id" data-module="@aanvraag.ModuleName">
                            <h4>@aanvraag.Student.FirstName @aanvraag.Student.Name</h4>
                            <p><a href="mailto:@aanvraag.Student.Email" target="_top">@aanvraag.Student.Email</a></p>
                            
                            @if (aanvraag.Argumentation != null)
                            {
                                <p>
                                    <label for="argumentatie" class="control-label">Extra argumentatie:</label>
                                    <label class="control-label">@aanvraag.Argumentation</label>
                                </p>
                            }

                            @if (aanvraag.PrevEducation != null)
                            {
                                if (aanvraag.PrevEducation.Count() > 0)
                                {
                                    <p>
                                        <label for="argumentatie" class="control-label">Vorige opleidingen:</label>
                                        <ul class="list-group">
                                            @foreach (var prev in aanvraag.PrevEducation)
                                            {
                                                <li class="list-group-item">@prev.Education</li>
                                            }
                                        </ul>
                                    </p>
                                }
                            }
                            
                            @if (aanvraag.Evidence.Count() > 0)
                            {
                                <label for="bewijzen" class="control-label">Ingediende bewijzen:</label>
                            }

                            @foreach (var bewijs in aanvraag.Evidence)
                            {
                                <div data-evidenceid="@bewijs.Id" class="inheritWidth bewijs">
                                    <input class="btn argumentatie" value="@bewijs.Description.First().ToString().ToUpper()@bewijs.Description.Substring(1)" type="button" data-bewijsid="@bewijs.Id">
                                    <br />
                                    <div class="inheritWidth bewijspointer hide" data-RequestPartimInformationid="RequestPartimInformation_@aanvraag.Id">
                                        <a href="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" download>
                                            Als onderstaande voorstelling niet werkt kunt u op deze link klikken om het evidence te downloaden
                                        </a>
                                        <div class="bewijsdiv">
                                            @if (@bewijs.Path.Split(new Char[] { '.' }).Last().Equals("pdf"))
                                            {
                                                <embed src="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" class="inheritWidth" />
                                            }
                                            else
                                            {
                                                <img src="~/bewijzen/@bewijs.Student.Email.Split(new Char[] {'@'}).First()/@bewijs.Path" class="inheritWidth" />
                                            }
                                        </div>
                                    </div>

                                    <input class="btn argumentatie hide" value="@bewijs.Description.First().ToString().ToUpper()@bewijs.Description.Substring(1)" type="button" data-bewijsid="@bewijs.Id">
                                </div>
                                { getoondeAanvraagId++; }
                            }
                            <br />
                            <p>
                                <label for="motivatie" class="control-label">Motivatie:</label>
                                <select class="form-control" id="aanvraagform-@aanvraag.Id">
                                    @Html.Action("MotivationListWidget")
                                </select>
                            </p>
                            <div class="opinionButtons row" style="padding-left:15px">
                                <input type="button" class="btn btn-success approveButton" value="Accepteer">
                                <input type="button" class="btn btn-danger dissapproveButton" value="Weiger">
                            </div>
                            <hr>
                        </div>
                        
                    }

                        </div>
            </div>
        }
    </div>
</div>