@model IEnumerable<VTP2015.Modules.Counselor.ViewModels.FileOverviewViewModel>

<div>
    <div class="row">
        <div class="form-group col-md-2">
            <input type="text" class="form-control" id="nameSearchQuery" placeholder="Zoek op naam">
        </div>
        <div class="form-group col-md-2">
            <div class="btn-group" data-toggle="buttons">
                <label id="rbBlok" class="btn btn-primary active" onclick="onBlok()">
                    <input type="radio" id="rBlok" value="Blok"/> <span class="glyphicon glyphicon-th"></span>
                </label>
                <label id="rbList" class="btn btn-primary" onclick="onList()">
                    <input type="radio" id="rLijst" value="Lijst"/> <span class="glyphicon glyphicon-list"></span>
                </label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="btn-group" data-toggle="buttons">
                <span class="button-checkbox">
                    <button id="btnGreen" type="button" class="btn btn-default active" data-color="success" onclick="toggleGreen()">Afgewerkt<span id="spnFinishedFiles" class="badge badge-success" style="margin-left: 1em">0</span></button>
                    <input id="chGreen" type="checkbox" class="hidden"/>
                </span>
                <span class="button-checkbox">
                    <button id="btnOrange" type="button" class="btn" data-color="warning" onclick="toggleOrange()">Actief<span id="spnBusyFiles" class="badge badge-warning" style="margin-left: 1em">0</span></button>
                    <input id="chOrange" type="checkbox" class="hidden" checked/>
                </span>
                <span class="button-checkbox">
                    <button id="btnRed" type="button" class="btn" data-color="danger" onclick="toggleRed()">Nieuw<span id="spnNewFiles" class="badge badge-danger" style="margin-left: 1em">0</span></button>
                    <input id="chRed" type="checkbox" class="hidden" checked/>
                </span>
            </div>
        </div>
        <div class="col-md-1">
            @if (@ViewBag.Lecturers > 1)
            {
                <a href="@Url.Action("AssignLecturers", "Counselor")" id="btnLecturers" type="button" class="btn btn-danger">Geen docent!<span id="spnAssignLecturers" class="badge badge-danger" style="margin-left: 1em">@ViewBag.Lecturers</span></a>
            }
        </div>
        @Html.Action("EducationSelectWidget")
    </div>
    <div class="container">
        <div class="row">
            <div id="overviewList" class="hidden">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Voornaam</th>
                        <th>Familienaam</th>
                        <th>Progress</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var dossier in Model.OrderBy(m => m.DaysRemaining))
                    {

                        <tr class="@dossier.Color dossier" data-name="@dossier.StudentName" data-firstname="@dossier.StudentFirstName">
                            <td>@dossier.StudentFirstName</td>
                            <td>@dossier.StudentName</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="@dossier.PercentageOfRequestsDone" aria-valuemin="0" aria-valuemax="100" style="width:@dossier.PercentageOfRequestsDone%">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#" id="links-list">
                                    <span class="glyphicon glyphicon-list-alt btnShowOverview" data-dossierid="@dossier.Id" aria-hidden="true" data-fileid="@dossier.Id" data-name="@dossier.StudentFirstName @dossier.StudentName"></span>
                                </a>
                                <a href="@Url.Action("PrintFile",new {id = dossier.Id})" id="midden-list">
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div id="overviewBlok">
                @foreach (var file in Model.OrderBy(d => d.DaysRemaining))
                {
                    <div class="col-md-2 file" data-name="@file.StudentName" data-firstname="@file.StudentFirstName" >
                        @{
                            var perc = 100 - ((double)(file.DaysRemaining * 100) / 21.0);
                        }
                        <div class="panel panel-text panel-@file.Color-vtp panel-default clearfix panel-body">
                            <p class="naam">@file.StudentFirstName @file.StudentName</p>
                            <div id="kader">
                                <a href="#" id="links">
                                    <span class="glyphicon glyphicon-list-alt white btnShowOverview" aria-hidden="true" data-fileid="@file.Id" data-name="@file.StudentFirstName @file.StudentName"></span>
                                </a>
                                <span class="white percentage" id="midden">@file.AmountOfRequestsOpen</span>
                                <span id="rechts" class="rechts chart" data-percent="@perc">
                                    <span id="cirlceNumber" class="cirlceNumber">@file.DaysRemaining</span>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




